{% extends 'main.html' %}
{% load django_bootstrap5 django_bootstrap_input_group static %}
{% block content %}

<div class="container mt-4">
    <!-- Hero Section -->
    <div class="jumbotron text-center">
        <h1 class="display-4">Base de datos</h1>
        <p class="lead">“La circulación de afrodescendientes esclavizados y libres en la Nueva España”</p>
        <hr class="my-4">
        <p></p>
        {% if user.is_authenticated %}
        <a class="btn btn-primary btn-lg" href="{% url 'documento-browse' %}" role="button">Iniciar</a>
        {% endif %}
    </div>

    <div class="container mt-5">
        <h2 class="mb-4">Overview</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">Total Documents</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ document_count }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header">Personas Esclavizadas</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ personas_esclavizadas_count }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">Personas No Esclavizadas</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ personas_no_esclavizadas_count }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-danger mb-3">
                    <div class="card-header">Instituciones</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ instituciones_count }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}
