{% extends 'main.html' %}
{% load i18n %}
{% block content %}


<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 shadow auth-forms-container">
          {% if perms.dbgestor.delete_documento %}
            <h2>{% trans '¿Quiere eliminar esta relación?'%}</h2>
            <p>Institucion: {{ corporacion }}</p>
            <p>Documento: {{ documento }}</p>
             
             <form action="{% url 'remover_institucion_documento' corporacion_id=corporacion.pk documento_id=documento.pk %}" method="post">
                 {% csrf_token %}
                 <input type="submit" value="Confirmar" class="btn btn-danger me-2">
                 <a href="{% url 'documento-browse' %}" class="btn btn-secondary">Cancelar</a>
             </form>
  
          {% else %}
              {% if user.is_authenticated %}
                  {% include '_no_permission.html' %}
              {% else %}
                  {% include '_no_registered.html' %}
              {% endif %}
          {% endif %}
        </div>
    </div>
  </div>
  
  {% endblock %}