{% extends 'main.html' %}
{% load django_bootstrap5 django_bootstrap_input_group static %}
{% block content %}
{% load i18n %}
{% load custom_filters %}
{% csrf_token %}

{% if perms.dbgestor.add_personaesclavizada %}

{% include 'dbgestor/Detail/buttons.html' %}


{% endif %}

<div class="container mt-4 document-detail-container">
    <!-- Documento Details -->
    <div class="card mb-4">
        <div class="card-body">
            <h1 class="card-title">{{ documento.titulo }}</h1>
            <p><strong>Id:</strong> {{ documento.documento_idno }}</p>
            <p><i class="fas fa-university"></i> {{ documento.archivo }}</p>
            <p><i class="far fa-folder-open"></i> {{ documento.fondo }}, {{ documento.subfondo }},
            {% if documento.sigla_documento %} {{ documento.sigla_documento }}, {% endif %} {{ documento.get_tipo_udc_display }} {{ documento.unidad_documental_compuesta }}, f. {{ documento.folio_inicial }}</p>

            <p class="card-text">{{ documento.get_tipo_documento_display }}</p>
            <p class="card-text"><i class="far fa-calendar-alt"></i> {{ documento.fecha_inicial }}</p>
            {% if documento.evento_valor_sp %}
                <p class="card-text">Valor del evento: {{ documento.evento_valor_sp }} {{ documento.evento_forma_de_pago }}
            {% endif %}
            {% if documento.notas %}
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Notas al documento</h5>
                  <p class="card-text">{{ documento.notas }}</p>
                </div>
              </div>
            {% endif %}
        </div>
        
        <!-- Action Buttons -->
        <div class="card-footer bg-transparent d-flex justify-content-between align-items-center mb-3">
            <div>
                {% if perms.dbgestor.add_documento %}
                    <a href="{% url 'documento-update' documento.pk %}?next={{ request.get_full_path }}" class="btn btn-outline-primary">Editar</a>
                {% endif %}
                {% if perms.dbgestor.delete_documento %}
                <!-- Next no incluido porque no puede regresar a un elemento eliminado -->
                    <a href="{% url 'documento-delete' documento.pk %}" class="btn btn-outline-danger">Borrar</a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- End of Documento Details -->

    <!-- Main Documento Card -->
    <div class="card mb-3">
        <div class="card-body">

                <!-- Control buttons -->
                <div id="warningAlert" class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none;">
                    Seleccione al menos dos personas para crear una relación.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  <div id="warningAlertLugares" class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none;">
                    Seleccione una persona para asignar un lugar.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  

                <!-- End Control buttons -->
                <!-- Select buttons -->
                <div class="row" style="padding:15px;">
                    <div class="selectall">
                        <button id="selectAllBtn" class="btn btn-light toggle-button"><i class="far fa-check-square"></i> Seleccionar todas</button>
                        <button id="deselectAllBtn" class="btn btn-light toggle-button hidden"><i class="far fa-square"></i> Deseleccionar todas</button>
                    </div>
                    <!-- Personas Esclavizadas Card -->
                    <h3>Personas esclavizadas asociadas al documento</h3>
                    {% for peresclavizada in peresclavizadas %}
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card border-dark">
                            {% include 'dbgestor/Detail/persona_card.html' with person=peresclavizada detail_url="personaesclavizada_detail" %}
                        </div>
                    </div>
                    {% endfor %}
                    <!-- End of Personas Esclavizadas Card -->
                    <!-- Personas no Esclavizadas Card -->
                    <h3>Personas no esclavizadas asociadas al documento</h3>
                    {% for pernoesclavizada in pernoesclavizadas %}
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card border-dark">
                            {% include 'dbgestor/Detail/persona_card.html' with person=pernoesclavizada detail_url="personanoesclavizada_detail" %}
                        </div>
                    </div>
                    {% endfor %}
                    <!-- End of Personas no Esclavizadas Card -->

                    <h3>Instituciones asociadas al documento</h3>
                    {% for corporacion in corporacionrel %}
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card border-dark">
                            {% include 'dbgestor/Detail/institucion_card.html' with corporacion=corporacion detail_url="institucion_detail" %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>
    <!-- End of Main Documento Card -->
    <!-- Historial -->
    <div class="card mb-3">
        <div class="card-header" data-bs-toggle="collapse" href="#changeHistory" role="button" aria-expanded="false" aria-controls="changeHistory">
            <i class="fas fa-history"></i> Historial de cambios:
        </div>
        <div class="collapse" id="changeHistory">
            <ul class="list-group list-group-flush">
                {% for record in history_records %}
                    <li class="list-group-item">
                        <i class="far fa-user"></i> {{ record.history_user }} 
                        <span class="text-muted" style="float:right;">
                            <i class="far fa-calendar-alt"></i> {{ record.history_date|date:"d M Y H:i:s" }}
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- End of historial -->
    
    

    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <a href="{% if next_url %}{{ next_url }}{% else %}{% url 'documento-browse' %}{% endif %}" class="btn btn-outline-secondary">Regresar</a>
        </div>
    </div>
</div>

<!-- Modals -->


<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">{% trans 'Confirmar borrado' %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% trans '¿Está seguro de querer borrar este elemento?' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Cancelar' %}</button>
                <button type="button" class="btn btn-danger" id="deleteConfirmBtn">{% trans 'Borrar' %}</button>
            </div>
        </div>
    </div>
</div>
  

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        tooltipTriggerList.forEach(function (tooltipTriggerEl) {
            new bootstrap.Tooltip(tooltipTriggerEl);
        });
    });

    function showWarningAlert() {
        var warningAlert = document.getElementById('warningAlert');
        warningAlert.style.display = 'block';
    }

    function hideWarningAlert() {
        var warningAlert = document.getElementById('warningAlert');
        warningAlert.style.display = 'none';
    }

    function showWarningAlertLugar() {
        var warningAlert = document.getElementById('warningAlertLugares');
        warningAlert.style.display = 'block';
    }

    function hideWarningAlertLugar() {
        var warningAlert = document.getElementById('warningAlertLugares');
        warningAlert.style.display = 'block';
    }

    document.getElementById('createRelation').addEventListener('click', function() {
        const selectedPersonas = document.querySelectorAll('input[name="selected_personas"]:checked');
        let ids = [];
        selectedPersonas.forEach((persona) => {
            ids.push(persona.value);
        });
        if(ids.length >= 2) { 
            window.location.href = `{% url 'persona_x_persona-new' %}?ids=${ids.join(',')}&documento_initial={{ documento.pk }}`;
        } else if(ids.length == 1){
            window.location.href = `{% url 'persona_x_persona-new' %}?ids=${ids.join(',')}&documento_initial={{ documento.pk }}`;
        } else {
            showWarningAlert();
        }
    });
    

    document.getElementById('createRelationLugar').addEventListener('click', function() {
        const selectedPersonas = document.querySelectorAll('input[name="selected_personas"]:checked');
        let ids = [];
        selectedPersonas.forEach((persona) => {
            ids.push(persona.value);
        });
        if(ids.length >= 1) { 
            window.location.href = `{% url 'persona_x_lugar-new' %}?ids=${ids.join(',')}&documento_initial={{ documento.pk }}`;
        } else {
            showWarningAlertLugar();
        }
    });

    

    document.getElementById('createRolEvento').addEventListener('click', function() {
        const selectedPersonas = document.querySelectorAll('input[name="selected_personas"]:checked');
        let ids = [];
        selectedPersonas.forEach((persona) => {
            ids.push(persona.value);
        });
        if(ids.length >= 1) { 
            window.location.href = `{% url 'rol_evento_new' %}?ids=${ids.join(',')}&documento_initial={{ documento.pk }}`;
        } else {
            showWarningAlertLugar();
        }
    });


    document.getElementById('createRolEventoInst').addEventListener('click', function() {
        const selectedPersonas = document.querySelectorAll('input[name="selected_corporaciones"]:checked');
        let ids = [];
        selectedPersonas.forEach((persona) => {
            ids.push(persona.value);
        });
        if(ids.length >= 1) { 
            window.location.href = `{% url 'rol_evento_institution_new' %}?ids=${ids.join(',')}&documento_initial={{ documento.pk }}`;
        } else {
            showWarningAlertLugar();
        }
    });

    function toggleButtons() {
        var selectAllBtn = document.getElementById('selectAllBtn');
        var deselectAllBtn = document.getElementById('deselectAllBtn');

        selectAllBtn.classList.toggle('hidden');
        deselectAllBtn.classList.toggle('hidden');

    }

    function selectAll() {
        var checkboxes = document.getElementsByName('selected_personas');
        checkboxes.forEach(function(checkbox){
            checkbox.checked = true;
        });
        toggleButtons();
    }

    function deselectAll() {
        var checkboxes = document.getElementsByName('selected_personas');
        checkboxes.forEach(function(checkbox){
            checkbox.checked = false;
        });
        toggleButtons();
    }

    document.getElementById('selectAllBtn').addEventListener('click', function() {
        selectAll();
    });

    document.getElementById('deselectAllBtn').addEventListener('click', function() {
        deselectAll();
    });

   
    function confirmDelete(deleteURL) {
        $('#deleteConfirmationModal').modal('show');
    
        document.getElementById('deleteConfirmBtn').onclick = function() {
            const csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            console.log("csrf_token");
            console.log(csrftoken);
            $.ajax({
                url: deleteURL,
                type: 'POST',
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function(result) {
                    $('#deleteConfirmationModal').modal('hide');
                    location.reload(); 
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        };
    }
    
</script>

{% endblock content %}
