{% extends 'main.html' %}
{% load django_bootstrap5 django_bootstrap_input_group static %}
{% block content %}
{% load i18n %}
{% csrf_token %}

<div class="container mt-4">
    <!-- Document Details -->
    <div class="card mb-4">
        <div class="card-body">
            <h1 class="card-title">{{ documento.titulo }}</h1>
            <p><strong>Id:</strong> {{ documento.documento_idno }}</p>
            <p><i class="fas fa-university"></i> {{ documento.archivo }}</p>
            <p><i class="far fa-folder-open"></i> {{ documento.fondo }}, {{ documento.subfondo }},
            {% if documento.sigla_documento %} {{ documento.sigla_documento }}, {% endif %} {{ documento.get_tipo_udc_display }} {{ documento.unidad_documental_compuesta }}, f. {{ documento.folio_inicial }}</p>

            <p class="card-text">{{ documento.get_tipo_documento_display }}</p>
            <p class="card-text"><i class="far fa-calendar-alt"></i> {{ documento.fecha_inicial }}</p>
            <p class="card-text">Valor del evento en pesos: {{ documento.evento_valor_sp }} {{ documento.evento_forma_de_pago }}
        </div>
        <!-- Action Buttons -->
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
                {% if perms.dbgestor.add_documento %}
                    <a href="{% url 'documento-update' documento.pk %}" class="btn btn-outline-primary">Editar</a>
                {% endif %}
                {% if perms.dbgraphic.delete_documento %}
                    <a href="{% url 'documento-delete' documento.pk %}" class="btn btn-outline-danger">Borrar</a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Main Document Card -->
    <div class="card mb-3">
        <div class="card-body">


                <div id="warningAlert" class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none;">
                    Seleccione al menos dos personas para crear una relación.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  <div id="warningAlertLugares" class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none;">
                    Seleccione al una personas para asignar un lugar.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                
                {% if perms.dbgestor.add_personaesclavizada %}
                    <a href="{% url 'personaesclavizada-new' %}?documento_initial={{ documento.pk }}" class="btn btn-info mt-3"><i class="fas fa-user-alt"></i> Incluir persona esclavizada</a>
                    <a href="{% url 'personanoesclavizada-new' %}?documento_initial={{ documento.pk }}" class="btn btn-info mt-3"><i class="fas fa-user-alt"></i> Incluir persona no esclavizada</a>
                    <button id="createRelationLugar" class="btn btn-success mt-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir lugar anterior o posterior a una o más personas"><i class="fas fa-shoe-prints"></i> Añadir lugares a personas</button>
                    <button id="createRelation" class="btn btn-success mt-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir relación entre dos o más personas"><i class="fas fa-people-arrows"></i> Añadir relaciones entre personas</button>
                {% endif %}
                <div class="row" style="padding:15px;">
                    <div class="selectall">
                        <button id="selectAllBtn" class="btn btn-light toggle-button"><i class="far fa-check-square"></i> Seleccionar todas</button>
                        <button id="deselectAllBtn" class="btn btn-light toggle-button hidden"><i class="far fa-square"></i> Deseleccionar todas</button>
                    </div>
                    <h3>Personas esclavizadas asociadas al documento</h3>
                    {% for peresclavizada in peresclavizadas %}
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <div>
                                    <input type="checkbox" class="form-check-input" name="selected_personas" value="{{ peresclavizada.pk }}">
                                    {{ peresclavizada.nombre_normalizado }} (ID: {{ peresclavizada.persona_idno }})
                                </div>
                                {% if perms.dbgestor.add_personaesclavizada %}
                                <a href='{% url 'personaesclavizada-detail' peresclavizada.pk %}' class="btn btn-outline-dark"><i class="far fa-eye"></i></a>
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-primary">Lugares</h5>
                                <p class="card-text">
                                    {% for category, places in place_data.items %}
                                    <strong class="d-block my-2">{{ category }}</strong>
                                    <ul class="fa-ul">
                                        {% for place, details in places.items %}
                                        {% if peresclavizada.persona_idno in details.personas %}
                                        <li class="my-3">
                                            <span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>{{ details.ordinal }}: {{ place }}
                                            <div class="btn-group float-end">
                                                {% comment %} <a href="#" class="btn btn-outline-warning btn-sm me-2"><i class="fas fa-pencil-alt"></i></a> {% endcomment %}
                                                <button type="button" class="btn btn-outline-danger btn-sm" onclick="confirmDelete('{% url 'delete-personalugarrel' details.rel_id %}');"><i class="fas fa-trash-alt"></i></button>
                                            </div>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                    {% endfor %}
                                </p>
                                <h5 class="card-title text-primary">Relaciones</h5>
                                <p class="card-text">

                                    {% for relation_type, data in relationshipdata.items %}
                                        {% if peresclavizada.persona_idno in data.associated_ids %}
                                            <strong class="d-block my-2">{{ relation_type }}</strong>
                                            <ul class="fa-ul">
                                                {% for persona in data.personas %}
                                                    
                                                    {% if peresclavizada.persona_idno != persona.idno %}
                                                        <li class="my-3">
                                                            <span class="fa-li"><i class="fas fa-user-friends"></i></span> {{ persona.nombre }}
                                                            <div class="btn-group float-end">
                                                            <button type="button" class="btn btn-outline-danger btn-sm" onclick="confirmDelete('{% url 'delete-personarel' persona.id_rel %}');"><i class="fas fa-trash-alt"></i></button>
                                                            </div>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}
                    <h3>Personas no esclavizadas asociadas al documento</h3>
                    {% for pernoesclavizada in pernoesclavizadas %}
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <div>
                                    <input type="checkbox" class="form-check-input" name="selected_personas" value="{{ pernoesclavizada.pk }}">
                                    {{ pernoesclavizada.nombre_normalizado }} (ID: {{ pernoesclavizada.persona_idno }})
                                </div>
                                {% if perms.dbgestor.add_personanoesclavizada %}
                                <a href='{% url 'personanoesclavizada-detail' pernoesclavizada.pk %}' class="btn btn-outline-dark"><i class="far fa-eye"></i></a>
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-primary">Lugares</h5>
                                <p class="card-text">
                                    {% for category, places in place_data.items %}
                                    <strong class="d-block my-2">{{ category }}</strong>
                                    <ul class="fa-ul">
                                        {% for place, details in places.items %}
                                        {% if pernoesclavizada.persona_idno in details.personas %}
                                        <li class="my-3">
                                            <span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>{{ details.ordinal }}: {{ place }}
                                            <div class="btn-group float-end">
                                                {% comment %} <a href="#" class="btn btn-outline-warning btn-sm me-2"><i class="fas fa-pencil-alt"></i></a> {% endcomment %}
                                                <button type="button" class="btn btn-outline-danger btn-sm" onclick="confirmDelete('{% url 'delete-personalugarrel' details.rel_id %}');"><i class="fas fa-trash-alt"></i></button>
                                            </div>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                    {% endfor %}
                                </p>
                                <h5 class="card-title text-primary">Relaciones</h5>
                                <p class="card-text">

                                    {% for relation_type, data in relationshipdata.items %}
                                        {% if pernoesclavizada.persona_idno in data.associated_ids %}
                                            <strong class="d-block my-2">{{ relation_type }}</strong>
                                            <ul class="fa-ul">
                                                {% for persona in data.personas %}
                                                    
                                                    {% if pernoesclavizada.persona_idno != persona.idno %}
                                                        <li class="my-3">
                                                            <span class="fa-li"><i class="fas fa-user-friends"></i></span> {{ persona.nombre }}
                                                            <div class="btn-group float-end">
                                                            <button type="button" class="btn btn-outline-danger btn-sm" onclick="confirmDelete('{% url 'delete-personarel' persona.id_rel %}');"><i class="fas fa-trash-alt"></i></button>
                                                            </div>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}
                </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header" data-bs-toggle="collapse" href="#changeHistory" role="button" aria-expanded="false" aria-controls="changeHistory">
            <i class="fas fa-history"></i> Historial de cambios:
        </div>
        <div class="collapse" id="changeHistory">
            <ul class="list-group list-group-flush">
                {% for record in history_records %}
                    <li class="list-group-item">
                        <i class="far fa-user"></i> {{ record.history_user }} 
                        <span class="text-muted" style="float:right;">
                            <i class="far fa-calendar-alt"></i> {{ record.history_date|date:"d M Y H:i" }}
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    

    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <a href="{% url 'documento-browse' %}" class="btn btn-outline-secondary">Regresar</a>
        </div>
    </div>
</div>

<!-- Modals -->


<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteConfirmationModalLabel">{% trans 'Confirmar borrado' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% trans '¿Está seguro de querer borrar este elemento?'%}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancelar' %}</button>
          <button type="button" class="btn btn-danger" id="deleteConfirmBtn">{% trans 'Borrar'%}</button>
        </div>
      </div>
    </div>
  </div>
  

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        tooltipTriggerList.forEach(function (tooltipTriggerEl) {
            new bootstrap.Tooltip(tooltipTriggerEl);
        });
    });

    function showWarningAlert() {
        var warningAlert = document.getElementById('warningAlert');
        warningAlert.style.display = 'block';
    }

    function hideWarningAlert() {
        var warningAlert = document.getElementById('warningAlert');
        warningAlert.style.display = 'none';
    }

    function showWarningAlertLugar() {
        var warningAlert = document.getElementById('warningAlertLugares');
        warningAlert.style.display = 'block';
    }

    function hideWarningAlertLugar() {
        var warningAlert = document.getElementById('warningAlertLugares');
        warningAlert.style.display = 'block';
    }

    document.getElementById('createRelation').addEventListener('click', function() {
        const selectedPersonas = document.querySelectorAll('input[name="selected_personas"]:checked');
        let ids = [];
        selectedPersonas.forEach((persona) => {
            ids.push(persona.value);
        });
        if(ids.length >= 2) { 
            window.location.href = `{% url 'persona_x_persona-new' %}?ids=${ids.join(',')}&documento_initial={{ documento.pk }}`;
        } else if(ids.length == 1){
            window.location.href = `{% url 'persona_x_persona-new' %}?ids=${ids.join(',')}&documento_initial={{ documento.pk }}`;
        } else {
            showWarningAlert();
        }
    });
    

    document.getElementById('createRelationLugar').addEventListener('click', function() {
        const selectedPersonas = document.querySelectorAll('input[name="selected_personas"]:checked');
        let ids = [];
        selectedPersonas.forEach((persona) => {
            ids.push(persona.value);
        });
        if(ids.length >= 1) { 
            window.location.href = `{% url 'persona_x_lugar-new' %}?ids=${ids.join(',')}&documento_initial={{ documento.pk }}`;
        } else {
            showWarningAlertLugar();
        }
    });

    function toggleButtons() {
        var selectAllBtn = document.getElementById('selectAllBtn');
        var deselectAllBtn = document.getElementById('deselectAllBtn');

        selectAllBtn.classList.toggle('hidden');
        deselectAllBtn.classList.toggle('hidden');

    }

    function selectAll() {
        var checkboxes = document.getElementsByName('selected_personas');
        checkboxes.forEach(function(checkbox){
            checkbox.checked = true;
        });
        toggleButtons();
    }

    function deselectAll() {
        var checkboxes = document.getElementsByName('selected_personas');
        checkboxes.forEach(function(checkbox){
            checkbox.checked = false;
        });
        toggleButtons();
    }

    document.getElementById('selectAllBtn').addEventListener('click', function() {
        selectAll();
    });

    document.getElementById('deselectAllBtn').addEventListener('click', function() {
        deselectAll();
    });

   
    function confirmDelete(deleteURL) {
        $('#deleteConfirmationModal').modal('show');
    
        document.getElementById('deleteConfirmBtn').onclick = function() {
            // Retrieve CSRF token from meta tag
            const csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            console.log("csrf_token");
            console.log(csrftoken);
            $.ajax({
                url: deleteURL,
                type: 'POST',
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function(result) {
                    $('#deleteConfirmationModal').modal('hide');
                    // Handle the visual removal or refresh
                    location.reload(); // Simple page reload
                },
                error: function(xhr, status, error) {
                    // Handle errors
                    console.error(error);
                }
            });
        };
    }
    
    

</script>

{% endblock content %}
